<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Winjit Technologies</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/w1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Abhijit Junagade</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">What started as just a dream, soon turned into a vision in the mind of the young entrepreneur Abhijit. Partnering up with his best friend and co-founder Ashwin Kandoi, they intercepted into the industry, offering a wide range of innovated business solutions. Abhijit holds an MBA from Nirma University and with years of study in the field of business and strategy he was able to develop unique solutions for a wide range of clients in differentiated industries.
                            Currently, Abhijit undertakes and overlooks the responsibilities of the company, managing the company’s operations, and establishing scalable solutions that create a new business endeavor channel. Additionally, he actively participates in taking on new initiatives and form new alliances to help build unique and phenomenal AI and automation solutions introduced to the world of business.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/w2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Ashwin Kandoi</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Recognized for his essential and shrewd management skills and unique methodical approach, Ashwin designs and implements a rich sense of quality when it comes to general management, SAP ERP implementations, and manufacturing. Through his efforts, Winjit has transitioned from a small start-up into a top-notch IT product developer across geographies. Ashwin is a CA and did his B.com from Pune University. He is a professional entrepreneur with many years of experience relating to IT, management, AI and Automation solutions.</p>
                    </div>
                </div>
            </li>
            <!-- <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Pasta is a type of food typically made from an unleavened dough of wheat
                            flour mixed with water or eggs, and formed into sheets or other shapes, then cooked by
                            boiling or baking.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Molten chocolate cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Molten chocolate cake is a popular dessert that combines the elements of a
                            chocolate cake and a soufflé. Its name derives from the dessert's liquid chocolate center,
                            and it is also known as chocolate moelleux, chocolate lava cake, or simply lava cake.</p>
                    </div>
                </div>
            </li> -->
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be A Part
                        <br />
                        Of Winjit!
                        <br />
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>